<div class="next-match-container">
  <div class="title">
      NEXT MATCH
  </div>
    <div class="next-match-list">
        <div class="next-match-list-item">
            <div class="next-match-list-team-1 team-srh">
                Sunrisers Hyderabad
            </div> 
            <div class="next-match-list-team-vs">
                V/S
            </div> 
            <div class="next-match-list-team-1 team-kkr">
              Kolkata Night Riders
            </div> 
            <div class="next-match-list-time-left">
              Time Left :  2 Days 16 Hrs 52 Minutes
            </div> 
        </div> 
  </div>
</div>

