.next-match-container{
    width: 32%;
    height: 300px;
    float: left;
    border-radius: 5px;
}

.title{
    height: 30px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
    background: #0080ff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff;
}

.next-match-list{
    overflow: auto;
    height: 100%;
}

.next-match-list-item{
    width: 99%;
    height: 88%;
    margin-top:10px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #cccccc;
}

.next-match-list-team-1{
    width:100%;
    height:20%;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}

.next-match-list-team-vs{
    width:100%;
    height:10%;
    text-align:center;
    font-weight: bold;
    font-size:  20px;
    color: red;
}

.team-srh{
    background: url(../../assets/images/srh.jpeg) no-repeat;
    background-size: contain;
}

.team-kkr{
    background: url(../../assets/images/kkr.jpg) no-repeat;
    background-size: contain;
}

.next-match-list-time-left{
    font-weight: bold;
    margin: 20px;
}

   
