.recent-post-container{
    width: 100%;
    height: 300px;
    margin: 10px 0px 10px 0px;
    background: url('../../assets/images/1.jpeg') no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: relative;
}

.recent-post-container-description{
    width: 100%;
    height: 30px;
    position:absolute;
    bottom: 0;
    background: #000000;
    padding: 12px 0px;
    opacity: 0.8;
    border-radius: 5px;
}

.recent-post-container-description-text{
    color: #ffffff;
    margin: 5px;
    padding-left: 20px;
}