
.main-container{
   /*background: url('../assets/images/green.jpeg');*/
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-container{
   height: 55px;
   margin-left: 150px;
   margin-right: 150px;
   font-size: 35px;
   text-align: center;
   padding-top: 5px;
   box-sizing: border-box;
   background: url('../assets/images/logo.jpg') no-repeat;
   border-radius: 5px;
   color: #000000;
   font-weight:bold;
}

.header-handles{
    position: relative;
    top: 18px;
    float: right;
    width: 60px;
    height: 30px;
}

.header-handle-facebook{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url('../assets/images/fb.png') no-repeat;
}

.header-handle-twitter{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url('../assets/images/twitter.png') no-repeat;
}
.header-handle-facebook:hover,
.header-handle-twitter:hover{
    cursor: pointer;
}

.data-container{
    padding-left: 150px;
    padding-right: 150px;
}

.navigation{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navigation-item{
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    /*background: linear-gradient(to bottom, #f2f2f2 0%,#cdcdcd 100%);*/
    background: #0080ff;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.navigation-item:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, #000000 0%,#0080ff 100%);
}

