<div class="main-container">
  <header class="header-container">
      iLabs Premiere League - 2017
  </header>
  <div class="data-container">
      <nav>
        <ul class="navigation">
          <li class="navigation-item logo"> Home </li>
          <li class="navigation-item">Teams</li>
          <li class="navigation-item">Schedule</li>
          <li class="navigation-item">Points table</li>
          <li class="navigation-item" (click)="onClick()">Contact Us</li>
        </ul>
      </nav>
  
      <app-recent-post >
          
      </app-recent-post>
      
      <div class="ilpl-container">
          <app-ilpl-fixture>

          </app-ilpl-fixture>
          <app-ilpl-results>

          </app-ilpl-results>
      </div>
</div>
</div>