.results-post-container{
    width: 32%;
    height: 300px;
    float: left;
    border-radius: 5px;
    margin-right: 22px;
}

.title{
    height: 30px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
    background: #0080ff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff;
}

.results-list{
    overflow: auto;
    height: 100%;
}

.results-list-item-even{
    width: 99%;
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #cccccc;
    display: flex;
}

.results-team-1{
    width: 20%;
    height: 100%;
    margin-top: 14px;
    margin-left: -12px;
    margin-right: 10px;
}

.results-team-logo{
    width: 100%;
    height: 100%;
    position: relative;
    left: 20px;
}

.results-team-srh{
    background: url(../../assets/images/srh.jpeg) no-repeat;
    background-size: contain;
}

.results-team-kkr{
    background: url(../../assets/images/kkr.jpg) no-repeat;
    background-size: contain;
}

.results-team-rcb{
    background: url('../../assets/images/rcb-logo.jpeg') no-repeat;
    background-size: contain;
}

.results-team-csk{
    background: url('../../assets/images/csk.jpg') no-repeat;
    background-size: contain;
}

.results-team-mi{
    background: url('../../assets/images/mi.png') no-repeat;
    background-size: contain;
}

.results-team-dd{
    background: url('../../assets/images/dd.jpg') no-repeat;
    background-size: contain;
}

.results-team-vs{
    width: 10%;
    height: 100%;
    margin-left: 13px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.results-details{
    width: 40%;
    height: 100%;
    margin-left: 23px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
}

.results-team-2{
    width: 20%;
    height: 100%;
}



